
      <div class="card-panel">
        <span class="black-text">
            <div class="row">
                <div class="col s1">
                    <img src='{{this.dados.foto}}' class='circle' width="30px">
                </div>
                <div class="col s11">
                    <b>{{ this.dados.nome}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul>
                        <li *ngFor="let post of postsEnviados">
                            {{ post }}
                            
                        </li>
                    </ul>

                </div>
            </div>
        </span>
      </div>
